<div class="container">
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Increase</th>
        <th>Decrease</th>
        <th>Remove</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% if cart.items.count == 0%>
        <tr>
          <td><strong>No Items At the moment</strong></td>
        </tr>
      <% else %>
        <% cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.title %></td>
            <td>$<%= cart_item.item.price %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= button_to '-', reduce_quantity_carts_cart_items_path(item_id: cart_item.item.id), class:"btn btn-dark" %></td>
            <td><%= button_to '+', add_quantity_carts_cart_items_path(item_id: cart_item.item.id), class:"btn btn-dark" %></td>
            <td><%= button_to 'Remove', remove_item_carts_cart_items_path(item_id: cart_item.item.id), class:"btn btn-dark" %></td>
            <td>$<%= calculate_item_total(cart_item) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <td>
        <% if cart.cart_items.count != 0 %>
          <%= button_to 'Clear Cart', clear_cart_carts_cart_items_path, class:"btn btn-dark" %>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <strong>Total</strong>
      </td>
      <td>$<%= calculate_total_cart(cart) %></td>
    </tfoot>
  </table>
</div>
