<div class="container">
  <div class = "table-wrapper-scroll-y my-custom-scrollbar ">
    <table class="table scroll text-center">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Increase</th>
          <th>Decrease</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% if cart.items.count == 0%>
          <tr>
            <td><strong>No Items At the moment</strong></td>
          </tr>
        <% else %>
          <% cart.cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.title %></td>
              <td>$<%= cart_item.item.price %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= button_to '-', reduce_quantity_carts_cart_items_path(item_id: cart_item.item.id), class:"btn btn-dark" %></td>
              <td><%= button_to '+', add_quantity_carts_cart_items_path(item_id: cart_item.item.id), class:"btn btn-dark" %></td>
              <td>$<%= cart_item.sub_total %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <strong>Total</strong>
        </td>
        <td>$<%= cart.total %></td>
      </tfoot>
    </table>
  </div>
</div>
