<%= form_with(model: [restaurant, @item ], local: true) do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize( @item.errors.count, "error" ) %> prohibited this Item from being saved:
      </h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group pb-2">
    <%= form.text_field :title, class:"form-control", placeholder: 'Title' %>
  </div>

  <div class="field form-group pb-2">
    <%= form.text_field :description, class:"form-control", placeholder: 'Description' %>
  </div>

  <div class="field form-group pb-2">
    <%= form.number_field :price, step: 0.01, class:"input form-control", placeholder: 'Price' %>
  </div>

  <div class="field form-group pb-2">
    <%= form.radio_button :status, 'active', :checked => true, class: "form-check-input" %> Active <br>
    <%= form.radio_button :status, 'closed', class: "form-check-input"%> Closed
  </div>

  <div class="field form-group pb-2">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <% if @item.new_record? %>
      <%= form.submit 'Create Item', class:"btn btn-dark " %>
    <% else %>
      <%= form.submit 'Update Item', class:"btn btn-dark " %>
    <% end %>
  </div>

<% end %>
