<%= form_with(model: [restaurant, restaurant.items.build], local: true) do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize( @item.errors.count, "error" ) %> prohibited this Item from being saved:
      </h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group pb-2">
    <%= form.text_field :title, class:"form-control", placeholder: 'Title', required: true %>
  </div>

  <div class="field form-group pb-2">
    <%= form.text_field :description, class:"form-control", placeholder: 'Description', required: true %>
  </div>

  <div class="field form-group pb-2">
    <%= form.number_field :price, step: 0.01, class:"input form-control", placeholder: 'Price', required: true, min: 0.01 %>
  </div>

  <h4>Status:</h4>
  <div class="field form-check pb-2">
    <%= form.radio_button :status, 'active', :checked => true, class: "form-check-input" %> Active <br>
    <%= form.radio_button :status, 'closed', class: "form-check-input"%> Closed
  </div>

  <% if @item.new_record? %>
    <h4>Images:</h4>
    <div class="field form-group pb-2">
      <%= form.file_field :images, multiple: true %>
    </div>

    <h4>Categories:</h4>
    <div class="field form-check pb-2">
      <% categories.each do |x| %>
        <%= form.check_box :categories, { :multiple => true }, x.id, nil %> <%= x.title %> <br>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class:"btn btn-dark " %>
  </div>
<% end %>
