
<tr>
  <td><%= category.title %></td>
  <td><%= link_to 'Show Items', category_path(category), class:"btn btn-dark" %></td>
  <% if current_user.admin? %>
    <td><%= category.items.count %></td>
    <td><%= link_to 'Edit Category', edit_category_path(category), class:"btn btn-dark" %></td>
    <td><%= link_to 'Delete Category', category, method: :delete,
    data: { confirm: 'Are you sure?' } , class:"btn btn-dark" %></td>
  <% end %>
</tr>
