<div class="container">
  <div class = "table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table scroll">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Drop</th>
        </tr>
      </thead>
      <tbody>
        <% if category.items.count == 0%>
          <tr>
            <td class="colspan-4"><strong>No Items At the moment</strong></td>
          </tr>
        <% else %>
          <% category.items.each_with_index do |item, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= item.title %></td>
              <td><%= item.description %></td>
              <td>$<%= item.price %></td>
              <td><%= item.status %></td>
              <td><%= link_to 'Remove', delete_item_category_item_path(category.id, item.id), method: 'delete', class:"btn btn-dark"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
